@model List<Categories>

<body>
	<div class="theme-layout" id="scrollup">
		<section>
			<div class="block no-padding">
				<div class="container fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="main-featured-sec">
								<div class="new-slide">
									<img src="~/images/fpt.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>